{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h1 class="typo">Modification d(un spectacle</h1>

    {{ include('spectacle/_form.html.twig', {'button_label': 'Modifier'}) }}

    <button class="btn btn-dark ml-5 mb-1"><a href="{{ path('spectacle_index') }}">Retour</a></button>

    {{ include('spectacle/_delete_form.html.twig') }}
{% endblock %}
