{% extends 'base.html.twig' %}

{% block title %}Spectateur index{% endblock %}

{% block body %}
    <h1>Spectateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spectateur in spectateurs %}
            <tr>
                <td>{{ spectateur.id }}</td>
                <td>{{ spectateur.email }}</td>
                <td>
                    <a href="{{ path('spectateur_show', {'id': spectateur.id}) }}">show</a>
                    <a href="{{ path('spectateur_edit', {'id': spectateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
