
<div id='warped'>
    <span class='w0'>B</span><span class='w1'>i</span><span class='w2'>e</span><span class='w3'>n</span><span class='w4'>v</span><span class='w5'>e</span><span class='w6'>n</span><span class='w7'>u</span><span class='w8'>e</span><span class='w9'> </span><span class='w10'>a</span><span class='w11'>u</span><span class='w12'> </span><span class='w13'>w</span><span class='w14'>i</span><span class='w15'>l</span><span class='w16'>d</span><span class='w17'> </span><span class='w18'>C</span><span class='w19'>i</span><span class='w20'>r</span><span class='w21'>c</span><span class='w22'>u</span><span class='w23'>s</span>
</div>
