<h1 class="title text-white text-center typa ">Soit un WildArtist</h1>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-8  mr-md-5 ml-md-5 mr-sm-2 ml-sm-2">
            {{ form_start(form) }}
            <p class="typo">Pour créer un avatar suivez ce <a href="https://getavataaars.com/" target="_blank">lien</a>.</p>
                {{ form_widget(form) }}

                <button class="btn btn-danger">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>